@use "./abstracts/variables";
@use "./layout/grid";

// Footer Styles
footer {
  margin: 0;
  padding: 0;
  color: variables.$text-color-5;
  background-color: variables.$footer-background-color;

  .footer__container {
    @extend .container !optional;
    padding: variables.$base-padding variables.$base-padding;
  }

  .footer__section {
    @extend .flex-item !optional;
  }

  .footer__section-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px auto;
    color: #344854;
  }

  .footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer__item {
    a {
      color: #222222;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #3f3f3f;
      }
    }
  }

  .footer__conditions_container {
    max-width: variables.$container-max-width;
    margin: 0 auto;
    padding: variables.$base-padding variables.$base-padding;

    ul.footer__conditions_list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      gap: 20px;
      padding: 0;
      margin: 0;

      li.footer__copy_item a, li.footer__conditions_item a {
        color: #222222;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #3f3f3f;
        }
      }
    }
  }

  @media (max-width: variables.$breakpoint-mobile) {
    .footer__container {
      margin: 0;
      padding: 0;
      max-width: 1000px;
    }

    .footer__section {
      margin: 0;
      padding: 0;

      .footer__section-title {
        font-size: 1.1em;
      }

      .footer__item {
        a {
          font-size: 13px;
        }
      }
    }

    .footer__conditions_container {
      text-align: center;
      ul.footer__conditions_list {
        display: block;
      }
    }
  }

  @media (max-width: variables.$breakpoint-tablet) {
    .footer__section {
      text-align: center;
    }

    .footer__conditions_container {
      text-align: center;
      ul.footer__conditions_list {
        display: block;
      }
    }
  }

  @media (min-width: variables.$breakpoint-tablet) {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
