// Imports
@use "./base/reset";
@use "./abstracts/variables";
@use "./abstracts/mixins";
@use "./layout/grid";

// Main CSS
body {
  color: variables.$text-color-2;
  background-color: variables.$background-color;
  padding: 0;
  margin: 0;
  font-family: variables.$base-font-family;
}

// Layout Container
.main__container, .container {
  max-width: 1200px;
  margin: 0 auto;
}

// Main Content
main {
  text-align: start;

  &.main__container {
    padding: 40px 20px;

    > section.multividas__section {
      margin-bottom: 20px;
    }
  }

  h1 {
    color: variables.$text-color-2;
    font-size: 2em;
  }

  h2 {
    color: variables.$text-color-2;
    font-size: 1.5em;
  }

  p {
    color: variables.$text-color-5;
    font-size: 1em;
  }

  a {
    text-decoration: underline;
  }
}

// Media Queries
@include mixins.respond-to("mobile") {
  main h1 {
    font-size: 1.8em;
  }
}
